@{
    ViewBag.Title = "Add Page";
}
@model Escc.Redirects.Admin.MVC.Models.Redirect

<div class="jumbotron alert-info">
    <h1>Add a new Redirect</h1>
    <p class="lead">Fill in the fields below and click 'Add'</p>
</div>

<form class="form-horizontal" action="~/Update/Add">
    <fieldset>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="type">Type</label>
            <div class="col-md-8">
                <select id="type" name="type" class="form-control">
                    @{
                        if (Model.Type == 1)
                        {
                            <option value="1" selected>Short URL</option>
                            <option value="2">Moved URL</option>
                        }
                        else
                        {
                            <option value="1">Short URL</option>
                            <option value="2" selected>Moved URL</option>
                        }
                    }
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="pattern">Redirect From</label>
            <div class="col-md-8">
                <input id="pattern" name="pattern" type="text" placeholder="@Model.Pattern" class="form-control input-md" required="">
                @{
                    if (Model.Type == 1)
                    {
                        <span class="help-block">This is the url you want to use</span>
                    }
                    else
                    {
                        <span class="help-block">This is where you are. For example, for "https://www.eastsussex.gov.uk/alerts" just type "alerts"</span>
                    }
                }
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="destination">Destination</label>
            <div class="col-md-8">
                <input id="destination" name="destination" type="text" placeholder="@Model.Destination" class="form-control input-md" required="">
                <span class="help-block">This is where your going. Make sure to use the whole URL, for example "https://www.eastsussex.gov.uk/jobs" </span>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="comment">Comment</label>
            <div class="col-md-8">
                <textarea class="form-control" id="comment" name="comment">@Model.Comment</textarea>
                <span class="help-block">Why has this redirect been added? Who requested it? Who added it?</span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="submit"></label>
            <div class="col-md-8">
                <button type="submit" value="Save" id="submit" name="submit" class="btn btn-success">Add New</button>
            </div>
        </div>

    </fieldset>
</form>
