@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert-info">
    <h1>Welcome to Escc.Redirects.Admin</h1>
    <p class="lead">Redesigned with MVC and Bootstrap</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Moved Urls</h2>
        <p>Redirects for old pages and sections which have moved. Includes some retired short URLs.</p>
        <p><a class="btn btn-info" href="/Home/Moved">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Short Urls</h2>
        <p>Short URLs which should be used for publicity.</p>
        <p><a class="btn btn-info" href="/Home/ShortUrls">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go back</h2>
        <p>To go back to the 'manage website' page, click here</p>
        <p><a class="btn btn-info" href="https://webcontent/managewebsite/">Go Back &raquo;</a></p>
    </div>
</div>